<div class="content">
      
      
      
      
      <!--begin right column-->
      
       
       		<div class="rightcolumn">
            
            
              <div id="eventsearch">
              
              <input style="width:150px" name="search" type="text"> <input style="font-size:13px" name="search" type="button" value="Search"><br />
              <br /><br />
              
              
              <span style="font-weight:bold">Search Date Range</span> <span class="eventsearchsmalltxt" style="font-size:12px">(optional)</span><br />
              <br />
              
              <span class="eventsearchsmalltxt">From:</span> <div id="eventsearcheckbox" class="floatright"><input style="width:100px" name="search" type="text"> <img src="images/calendaricon.jpg" width="16" height="16"></div> <br />
              <br />
              <span class="eventsearchsmalltxt">To:</span> <div id="eventsearcheckbox" class="floatright"><input style="width:100px" name="search" type="text"> 
              <img src="images/calendaricon.jpg" width="16" height="16"></div><br />
              <br /><br />
               <div style="margin-left:-5px" class="checkbox"><input name="familyfriendly" type="checkbox" value="familyfriendly" checked> Limit search results to selected <br /> &nbsp; &nbsp; &nbsp; event categories.</div>
              
              </div>  
            
            
            
            </div>
            
             <!--end right column-->
            
            
            
            
            
            
            <!--Begin middle column-->
            
            <div class="middlecolumn">
           		<div class="events" id="eventspageevents">
                  <h1>events by date:</h1>
                    
                  <div class="blueeventsbox">
                  <h3>today - monday, sept 26, 2011</h3>
                    	
              <div class="whiteeventsbox" id="whiteeventsboxexpand">
                        
                            <div class="event"> 
                            	<a href="#"><img class="floatleftimg" src="http://placehold.it/80x75"></a>
                                <div class="righttxt">
                                <div class="title"><a href="#">lorem ipsum dolor sit</a><a href="#"><img class="addtocalendar" src="images/plus.png" width="21" height="20" alt="add to calendar"></a></div>
                                <h4>8:00am - <span class="whatshappeninglocation">city of iowa city</span></h4>
                              	<h5>arts &amp; entertainment | nightlife</h5>
                              	<p>A play about giraffes, big business, and overdue come-uppances?  A joy not to be missed! longer longer longer longer longer.</p>
                                </div>
                            </div>
                            
                            <div class="event" id="short"> 
                            <div class="flexibleimgholder">
                                <div class="title" id="shorttitle"><a href="#">lorem ipsum dolor sit</a><a href="#"><img class="addtocalendar" src="images/plus.png" width="21" height="20" alt="Plus!"></a></div>
                                <h4>8:00am - <span class="whatshappeninglocation">city of iowa city</span></h4>
                              	<h5>arts &amp; entertainment | nightlife</h5>
                             </div>
                             </div>
                             
                               <div class="event" id="short"> 
                            <div class="flexibleimgholder">
                                <div class="title" id="shorttitle"><a href="#">lorem ipsum dolor sit</a><a href="#"><img class="addtocalendar" src="images/plus.png" width="21" height="20" alt="Plus!"></a></div>
                                <h4>8:00am - <span class="whatshappeninglocation">city of iowa city</span></h4>
                              	<h5>arts &amp; entertainment | nightlife</h5>
                              
                             </div>
                             </div>
                            
                            <div class="event" id="last"> 
                            	<a href="#"><img class="floatleftimg" src="http://placehold.it/80x75"></a>
                                <div class="righttxt">
                                <div class="title"><a href="#">lorem ipsum dolor sit</a><a href="#"><img class="addtocalendar" src="images/plus.png" width="21" height="20" alt="Plus!"></a></div>
                                <h4>8:00am - <span class="whatshappeninglocation">city of iowa city</span></h4>
                              	<h5>arts &amp; entertainment | nightlife</h5>
                              	<p>A play about giraffes, big business, and overdue come-uppances?  A joy not to be missed!</p>
                                </div>
                            </div>
                    	
                    </div>
                     
                         <div id="andmore"></div>
                  </div>
               
                </div>
                
                
                
           
         
            
         </div>
         
            <!--end middle column -->
            
            
            
            
            
            
            
            
            
            
            
            <!--begin left column -->
            
            <div class="leftcolumn" id="eventsleftcolumn">
            	
                <div id="calendar">
           		<img src="images/calendarplaceholder.jpg" width="238" height="203"> 
           		</div>
                
               <div id="eventcategories"> 
                <br />
              <div class="checkbox"><input name="familyfriendly" type="checkbox" value="familyfriendly" checked>Family Friendly events only <a href="#"> Save</a></div>
              <br />
              
              	<h1>Event Categories</h1>
                <p>Use checkboxes to filter events.</p><br />
                
              
              	<div><a href="#">Check All</a> | <a href="#">Uncheck All</a> | <a href="#">Save</a></div>
              	
                <div class="checkbox"><input name="familyfriendly" type="checkbox" value="familyfriendly" checked> Arts &amp; Entertainement</div>
                <div class="checkbox"><input name="familyfriendly" type="checkbox" value="familyfriendly" checked> Community &amp; Civics Events</div>
                <div class="checkbox"><input name="familyfriendly" type="checkbox" value="familyfriendly" checked> Political Events</div>
                <div class="checkbox"><input name="familyfriendly" type="checkbox" value="familyfriendly" checked> Other Events</div>
                <div class="checkbox"><input name="familyfriendly" type="checkbox" value="familyfriendly" checked> Spitituality &amp; Religion</div>
                <div class="checkbox"><input name="familyfriendly" type="checkbox" value="familyfriendly" checked> Sports &amp; Recreation</div>
              
              </div>
                 <div class="eventarrows"><a href="#"><div class="bluerightarrow" id="arrowleftcolumn"><div class="arrowtxt">event preferences</div></div></a></div>
                <br />
              
                <div class="eventarrows"><a href="#"><div class="bluerightarrow" id="arrowleftcolumn"><div class="arrowtxt">submit an event</div></div></a></div>
                <br />
                
                <div style="margin-top:22px;" class="eventarrows"><a href="#"><div class="bluerightarrow" id="arrowleftcolumn"><div class="arrowtxt">my events</div></div></a></div>
                
                <!--end left column -->
                  
                
                
              </div>
         <div style="clear:both"></div>
         
         
         </div>