<footer>
  <div id="copyright">&#169; 2012 IowaCityNow.com. All Rights Reserved.</div>  
  <ul>
    <li><a href="#">Home |</a></li>
    <li><a href="#">Events |</a></li>
    <li><a href="#">Movies |</a></li>
    <li><a href="#">Resources |</a></li>
    <li><a href="#">TV |</a></li>
    <li><a href="#">Deals |</a></li>
    <li><a href="#">Dining |</a></li>
    <li><a href="#">Jobs</a></li>
    <br />
    <li><a href="#">About |</a></li>
    <li><a href="#">Advertisers |</a></li>
    <li><a href="#">Contact Us |</a></li>
    <li><a href="#">Help |</a></li>
    <li><a href="#">Privacy Policy |</a></li>
    <li><a href="#">Terms of Use</a></li>
  </ul>
</footer>