<header>  
  <%= image_tag "logoandtagline.png", :title=>"Iowa City Now: Your Iowa City Area Info Spot", :style=>"width:448px;height:90px;border:0", :id=>"logoandtagline" %>
  <div class="floatright">
    <ul>
      <li>IowaCityNow&#8482;-Welcome! | </li>
      <li><a href="login.html">Login</a> | </li>
      <li><a href="signup.html">Sign Up</a></li>
    </ul>
    <%= image_tag "weatherplaceholder.jpg", :title=>"weather placeholder", :style=>"width:267px;height:77px;border:0", :id=>"weather" %>    
  </div>
</header>